rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /debtors/{id} {
      allow read: if isSignedIn() && (resource == null || resource.data.userId == request.auth.uid);
      allow write: if isSignedIn() && (resource == null || resource.data.userId == request.auth.uid) && request.resource.data.userId == request.auth.uid;
    }

    match /accounts/{id} {
      allow read: if isSignedIn() && (resource == null || resource.data.userId == request.auth.uid);
      allow write: if isSignedIn() && (resource == null || resource.data.userId == request.auth.uid) && request.resource.data.userId == request.auth.uid;
    }

    match /launchTypes/{id} {
      allow read: if isSignedIn() && (resource == null || resource.data.userId == request.auth.uid);
      allow write: if isSignedIn() && (resource == null || resource.data.userId == request.auth.uid) && request.resource.data.userId == request.auth.uid;
    }

    match /transactions/{id} {
      allow read: if isSignedIn() && (resource == null || resource.data.userId == request.auth.uid);
      allow write: if isSignedIn() && (resource == null || resource.data.userId == request.auth.uid) && request.resource.data.userId == request.auth.uid;
    }

    match /parcelas/{id} {
      allow read: if isSignedIn() && (resource == null || resource.data.userId == request.auth.uid);
      allow write: if isSignedIn() && (resource == null || resource.data.userId == request.auth.uid) && request.resource.data.userId == request.auth.uid;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
