rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    // Admin Info (User profile)
    match /users/{userId} {
      allow read: if isSignedIn() && request.auth.uid == userId;
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /debtors/{id} {
      allow read, write: if isSignedIn();
    }

    match /accounts/{id} {
      allow read, write: if isSignedIn();
    }

    match /launchTypes/{id} {
      allow read, write: if isSignedIn();
    }

    match /transactions/{id} {
      allow read, write: if isSignedIn();
    }

    match /parcelas/{id} {
      allow read, write: if isSignedIn();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
